{% extends "base.html" %}
{% block content %}


<h2>À propos de nous</h2>

<p>Bienvenue sur notre journal personnel ! Cette plateforme vous permet de garder une trace de vos pensées, vos idées et vos souvenirs.</p>

<p>Nous croyons en la puissance de l'écriture et en l'importance de préserver nos expériences. Notre objectif est de fournir une interface simple et agréable pour que vous puissiez créer, gérer et relire vos entrées de journal en toute facilité.</p>

<p>Pour toute question ou suggestion, n'hésitez pas à nous contacter via notre page d'aide & suggestions.</p>
{% endblock %}
